$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;

.modal-body
{
    background-color: $background-light;
}
.modal-header
{
    background-color: $background-dark;
    button{
        color: $lt-gray;
    }
}
